<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173633636954-ve2pjn0lhiuqccq57ku0k6nmm8tuqve4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173633636954-ve2pjn0lhiuqccq57ku0k6nmm8tuqve4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>173633636954-m4l9v1cp7lkt8sim1gelh962enh8b7mk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGbohZ3yTnEZ-yhIDdO1zxMR6EThkaprI</string>
	<key>GCM_SENDER_ID</key>
	<string>173633636954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.enspyr.watermarkscanner</string>
	<key>PROJECT_ID</key>
	<string>watermarking-print-and-scan</string>
	<key>STORAGE_BUCKET</key>
	<string>watermarking-print-and-scan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173633636954:ios:4027efd293aea5aa</string>
	<key>DATABASE_URL</key>
	<string>https://watermarking-print-and-scan.firebaseio.com</string>
</dict>
</plist>